html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: flex-start;;
    align-items: center;
    flex-direction: column;
}

.heading {
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 80px;
    border-bottom: 5px solid black;
    background-color: white;
    position: fixed;
    padding-top: 18px;
}

#hamburgermenu {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    height: 50px;
    width:50px;
    cursor: pointer;
    margin-top: 10px;
    
}

.bar {
    width: 40px;
    height: 7px;
    background-color: black;
    margin: 3px;
    border-radius: 3px;
}

#bar1.change {
    transform: translateY(13px) rotate(45deg);
    
}

#bar3.change {
    transform: translateY(-13px) rotate(135deg);
}

#bar2.change{
    transform: scale(0);
}
#links {
    /*margin-left: 380;*/
    right: 400px;
    right: 22%;
    display: none;
    flex-direction: row;
    text-align: end;
    position: absolute;
    
}

a {
    text-decoration: none;
    color: black;
}

#menu2 {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

a {
    z-index: 1;
}

.link {
    margin: 30px;
    text-decoration: none;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    cursor: pointer;
    padding-bottom: 5px;
}

.link:hover, .link:focus {
    background-size: 100% 2px;
}

#menu2:hover, #menu2:focus {
    background-size: 0% 2px;
}

#menu2 {
    cursor: Default	;
}


#links.change {
    display: none;   
    Float: right;
    transition: .3s;
}
#menu2.change {
    display: none;

}

#links2 {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}

#links2.change {
    display: flex;
}


.textbox {
    top: 0;
    padding-top: 100px;
    width: 1200px;
    height: 800px;
    background-color: #02231C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#imgGLWs {
    margin-top: 100px;
    margin-bottom: 100px;
}

.text {
    color: white;
    width: 800px;
    text-align: justify;
}

.headinglabel {
    width: 1200px;
    height: 150px;
    font-size: 36px;
    background-color: white;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.textbox2 {
    width: 1200px;
    background-color: #55D9C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text2 {
    color: black;
    width: 800px;
    text-align: justify;
}


@media only screen and (max-width: 768px) {
    .heading {
        width: 350px;
    }

    #menu {
        display: none;
    }

    #menu2 {
        display: none;
    }

    #links2 {
        display: none;
    }

    .link {
        margin: 10px;
    }

    #links {
        margin-left: 0px;
        text-align: center;
        position: static;
        flex-direction: column;
        Float: center;
    }

    #links2.change {
        display: none;
    }

    #links.change {
        display: flex;
    }

}