body {
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
}

.menubar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 100px;
    background-color: #C0C0C0; 
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #C0C0C0;
    height: 50px;
    width: 15%;
    margin: auto;
    font-size: 24px;

    
}

#home {
    margin-left: 40%;
}

.logo {
    margin-top: 20px;
    margin-left: -25%;
    width: 27%;
    height: 170px;
    background-color: C0C0C0;
    position: absolute;
    padding: 30px;
    content:url("giryLogo2.png")


}

#logo {
    margin-left: 30px;
    margin-top: 20px;
    height: 200px;
    width: auto;
}
@media only screen and (max-width: 768px) {

}